.sharingan {
    position: absolute;
    border-radius: 360%;
    filter: drop-shadow(0 0 2rem rgb(255, 0, 0));
    top: 50%;
    left: 50%;
    width: 360px;
    height: 360px;
    margin:-180px 0 0 -180px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
}
*{
    background-color: black;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}